@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




h1{

    font-family: 'Roboto Slab', serif;

    font-size: 45px;

    color: #04146c;

    margin-left: 50px;

}



p{

    font-family: 'Roboto', sans-serif;

    font-size: 20px;

    color: #04146c;

    margin-left: 50px;

}



main{

    padding-top: 180px;

}



div img{

    width: 700px;

    margin-left: 630px;

    margin-top: -700px;

    margin-bottom: -55px;

}




footer{

    background-color: #2e51fd;

    height: 100px;

    
}


footer img{

    width: 10%;

    margin-top: 35px;

    margin-left: 50px;

}