@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body{

    border-top-style: solid;

    border-top-color: #0a2ff1;

    border-top-width: 20px;

    margin: 0px;

}



div img{

    width: 10%;

    margin-top: 60px;

    margin-left: 30px;
    
}


main img{

    width: 100%;

}




header a{

    font-family: 'Roboto', sans-serif;

    font-size: 18pt;

    color: #04146c;

    text-decoration: none;

    margin-left: 50px;

}




h1{

    font-family: 'Roboto Slab', serif;

    font-size: 72pt;

    color: #0a2ff1;

    text-align: center;

}




p{

    font-family: 'Roboto', sans-serif;

    font-size: 26pt;

    color: #04146c;

    text-align: center;

}
