@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');





body{

    box-sizing: border-box;

    border: 1px solid lightblue;

    width: 600px;

    height: 370px;

    margin-left: auto;

    margin-right: auto;

}




hr{

    margin-left: 35px;

    margin-right: 39px;

    color: black;

}




input{

    font-family: 'Mulish', sans-serif;

    font-size: 14pt;

    color: #414166;

    width: 500px;

    height: 30px;

    margin-bottom: 10px;

    padding: 10px;

    margin-left: 35px;;

}




button{

    font-family: 'Mulish', sans-serif;

    font-size: 15pt;

    background-color: #0a2ff1;

    width: 525px;

    height: 55px;

    margin-left: 35px;

    color: white;

    margin-bottom: 10px;

    padding: 10px;

    cursor: pointer;

}




h1{

    font-family: 'Mulish', sans-serif;

    text-align: center;

    font-size: 18pt;

    color: #04146c;

}




h3{

    text-align: center;
}




a{

    font-family: 'Mulish', sans-serif;

    font-size: 14pt;

    color: #0a2ff1;

    text-decoration: none;

    text-align: center;

    display:block;

    padding-bottom: 10px;

    padding-top: 10px;

}